<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
              <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Services/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>

            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="/AdminContact/Inbox/">
                            <i class="icon-envelope-open menu-icon"></i><span class="nav-text">Gelen Mesajlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminContact/SendBox/">
                            <i class="icon-paper-plane menu-icon"></i><span class="nav-text">Giden Mesajlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminContact/AddSendMessage/">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Yeni Mesaj Oluştur</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-paper-plane menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
           
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="fas fa-image menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">WorkLocation İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/UserList/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Rol İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssing/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/LogOff/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
           
        </ul>
    </div>
</div>

