@model HotelProject.WebUI.Models.Role.AddRoleViewModel
@{
    ViewData["Title"] = "RolEkle";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<h1>Yeni Rol Ekleme Sayfası</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
    <br />

    <button class="btn mb-1 btn-rounded btn-outline-primary">Rolu Ekle</button>
</form>

