
<div class="mail-list mt-4">
    <a href="/AdminContact/Inbox/" class="list-group-item border-0 text-primary p-r-0">
        <i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b>
        <span class="badge badge-primary badge-sm float-right m-t-5">198</span>
    </a>
    <a href="/AdminContact/SendBox/" class="list-group-item border-0 text-primary p-r-0">
        <i class="fa fa-paper-plane font-18 align-middle mr-2"></i><b>GelenGiden Kutusu </b> <span class="badge badge-primary badge-sm float-right m-t-5">45</span>
    </a>
    <a href="#" class="list-group-item border-0 text-danger  p-r-0">
        <i class="fa fa-star-o font-18 align-middle mr-2"></i> <b>Önemli </b>
        <span class="badge badge-danger badge-sm float-right m-t-5">47</span>
    </a>
    <a href="#" class="list-group-item border-0 text-primary  p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i><b>Taslaklar</b></a>
    <a href="#" class="list-group-item border-0 text-primary  p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i><b>Çöp Kutusu</b></a>
</div>
