@model List<ApiMoviViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Film Adı</th>
            <th>Puan</th>
            <th>Yılı</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.title</td>
                <td>@item.imdb_id</td>
                <td>@item.year</td>
                <td><a href="#" class="btn btn-dark">Fragmanı Oynat</a></td>
            </tr>
        }
    </table>
</div>