@model List<ResultServicesDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ServicesId</th>
            <th>@item.Title</th>
            <td><a href="/Services/DeleteServices/@item.ServicesId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Services/UpdateServices/@item.ServicesId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Services/AddServices/" class="btn btn-info">Yeni Hizmet Girişi</a>

