@model UpdateServicesDto
@{
    ViewData["Title"] = "UpdateServices";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<form method="post">
    <input type="hidden" asp-for="ServicesId" />
    <label>Hizmet İkon</label>
    <input type="text" asp-for="ServicesIcon" class="form-control" />
    <span asp-validation-for="ServicesIcon" class="text-danger"></span>
    <br />
    <label>Hizmet Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Hizmet Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    
    <button class="btn mb-1 btn-rounded btn-outline-primary">Hizmeti Güncelle</button>
</form>


